<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="true">

    <appender name="TRICON_TM_LOGS_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>../logs/tricon-tm/tricon-tm.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>../logs/tricon-tm/tricon-tm.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>50</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>200MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d [%thread] %-5level %logger - %msg%n%ex</pattern>
        </encoder>
    </appender>

    <logger name="com.tricon.tm" level="DEBUG" additivity="false">
        <appender-ref ref="TRICON_TM_LOGS_APPENDER" />
    </logger>
    
    <logger name="org.apache.commons.dbcp" level="DEBUG" additivity="false">
        <appender-ref ref="TRICON_TM_LOGS_APPENDER" />
    </logger>     

    <root level="DEBUG">
        <appender-ref ref="TRICON_TM_LOGS_APPENDER" />
    </root>
    
</configuration>